
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;1,100;1,200;1,300;1,400;1,500&family=Lato:ital,wght@0,300;0,700;0,900;1,400;1,900&family=Poppins:ital,wght@0,100;0,300;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500&display=swap');

:root{
    --primary : #1a253f;
    --dark : #151a33;
    --secondary:#2b55cc;
    --info : #4d79f6;
    --ternary : #848db3;
    --pure: #eff2f9;
    --fade : #7881b9;
    --mild : #8997bd;
    --footer:#212A4A;
    --twitter : #4ac7ec;
    --dribble: #ff59aB;
    --sucess : #1ecab8;
    --danger : #f1646c;
    --dark-blaue : #28365f;

}

/* Reset */
body{
    font-family: 'IBM Plex Sans', sans-serif;
    background: var(--dark);
    -webkit-font-smoothing: antialiased;
    
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
    line-height: 1;
}

.container{
    max-width: 1140px;
    margin: 0 auto;
}

nav{
    background: var(--primary);
    padding: 1.6rem 0;
}

nav .inner{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav .inner .logo{
    text-transform: uppercase;
    color: var(--pure);
    font-size: 18px;
    letter-spacing: 1px;
    font-weight: 500;
}

nav .inner .logo{
    color: var(--info);
}

nav .inner button {
    background: var(--secondary);
    border: none;
    padding: 0.6rem;
    color: var(--pure);

}

section.profile {
    background: var(--dark-blaue);
    display: flex;
    align-items: center;
    padding: 3rem;
    margin-top: 60px;
    clip-path: polygon(0 0, 100% 0, 100% 80%, 25% 100%, 0 80%);
    padding-bottom: 3rem;
}


section.profile .left {
    flex: 2;
    display: flex;
    align-items: center;
}
section.profile .right {
    flex: 1;
}

section.profile .left  h2{
    color: var(--fade);
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 1rem;
}

section.profile .left p {
    color: var(--mild);
    font-size: 14px;
}

section.profile .left .cd-headline.loading-bar .cd-words-wrapper::after{
    background: linear-gradient(to right, var(--secondary), var(--sucess));
}

section.profile .left p b {
    padding-bottom: 1rem ;
    font-weight: 400;
}

section.profile .left img{
    width: 128px;
    height: 128px;
    border-radius: 50%;
    object-fit: cover;
}

section.profile .left .avatar_block {
    position: relative;
    margin-right: 2rem;

}

section.profile .left .avatar_block span {
    position: absolute;
    right: 4px;
    bottom: 4px;
    background: var(--info);
    width: 32px;
    height: 32px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--pure);
    box-shadow: 0px 0px 20px 0px rgba(32, 41, 54, 0.05);
    cursor: pointer;
}

section.profile .right ul.contact li{
    color: var(--ternary);
    margin-bottom: .7rem;
    font-size: 14px;
}

section.profile .right ul.contact li i {
    font-size: 18px;
    margin-right: 0.3rem;
}

section.profile .right ul.socials {
    display: flex;
    align-items: center;
    list-style-type: none;
}

section.profile .right ul.socials li {
    margin-right: 0.8rem;
}
section.profile .right ul.socials li a {
    display: inline-block;
    width: 36px;
    height: 36px;
    border-radius: 50%;
    color: var(--pure);
    line-height: 36px;
    text-align:  center;

}

section.profile .right ul.socials li:nth-child(1) a {
    background: var(--secondary);

}

section.profile .right ul.socials li:nth-child(1) a {
    background: var(--twitter);
}
section.profile .right ul.socials li:nth-child(3) a {
    background:var(--dribble) ;
}


/* section about */
.section_heading {
    font-size: 16px;
    font-weight: 500;
    color: var(--pure);
    margin-bottom: 3rem;
    text-shadow: 0 0 1px rgba(40, 54, 95, 0.1);
    position: relative;
}

section {
    padding: 3rem;
}

main {
    background: var(--primary);
}

.section_heading::after {
    content: '';
    height: 30px;
    width: 80px;
    position: absolute;
    top: 20px;
    left: 0;
    border: 1px dotted var(--danger);
}

section.about .content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 16rem;
}

section.about .content h2 {
    color: var(--info);
    font-size: 16px;
    line-height: 22px;
    font-weight: 700;
    margin-bottom: 1.6rem;
}

section.about .content p {
    color: var(--ternary);
    font-size: 14px;
    line-height: 1.6;
    letter-spacing: 0.3px;
    margin-bottom: 1rem;
}

section.about .content .left button {
    background: rgba(137, 162, 230, 0.1);
    color: var(--info);
    padding: 4px 8px;
    font-size: 12px;
    border: none;
    line-height: 24px;
    outline: none;
    cursor: pointer;
}

section.about .content .right p {
    line-height: 1.6;
    font-size: 14px;
    color: var(--ternary);
    letter-spacing: 0.1px;
    margin-bottom: 1rem;
}

section.about .content .right p span:nth-child(1) {
    width: 130px;
    float: left;
    font-weight: 500;
    padding-right: 10px;
    display: block;
    position: relative;
}

section.about .content .right p span:nth-child(2){
    padding-left: 150px ;
    display: block;

}

section.about .content .right p span:nth-child(1):after{
    content: ":";
    position: absolute;
    right: 0;
    top: 0;

}
